* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4em;
}

.container {
  width: 825px;
  margin: 50px auto 0;
}

.product-image {
  width: 250px;
  height: 250px;
}

.product-page {
  border: 5px solid #222;
}

/* SALE TAG */
.product-name::before {
  content: "SALE";

  color: #fff;
  background-color: #ff002b;

  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;

  padding: 7px 15px;

  position: absolute;
  top: -17px;
  left: -38px;
}

.product-name {
  background-color: #f7f7f7;
  font-size: 22px;

  text-transform: uppercase;
  text-align: center;

  padding: 20px 0;

  position: relative;
}

.product-price {
  font-size: 25px;
}

.product-shipping {
  text-transform: uppercase;
  color: #777;

  font-size: 12px;
  font-weight: bold;
}

.product-text {
  margin-bottom: 15px;
}

.product-info:link,
.product-info:visited {
  color: #000;

  display: inline-block;
  margin-bottom: 25px;
}

.product-info:hover,
.product-info:active {
  text-decoration: none;
}

.product-detail {
  text-transform: uppercase;
  font-size: 16px;

  /* margin-top: 30px; */
  margin-bottom: 15px;
}

.detail-list {
  list-style: square;
  margin-left: 20px;

  margin-bottom: 10px;
}

.detail-list li {
  margin-bottom: 10px;
}

.cart-button {
  background-color: #000;

  color: #fff;
  text-transform: uppercase;
  font-size: 20px;

  border: none;

  padding: 15px;

  width: 100%;
}

.cart-button:hover {
  color: #000;
  background-color: #fff;

  cursor: pointer;
  border-top: 4px solid #000;
}

/* Product colors */
.color {
  padding: 10px;
  margin-right: 15px;

  border: none;
  cursor: pointer;
}

.color-black {
  background-color: #000;
}
.color-blue {
  background-color: #0d74d4;
}
.color-red {
  background-color: #ff002b;
}
.color-green {
  background-color: #2af04b;
}
.color-yellow {
  background-color: #f5f118;
}
.color-brown {
  background-color: #8b4513;
}

/* FLOATS */
/* .product-image {
  float: left;
}

.description {
  width: 240px;
  float: left;

  margin-left: 40px;
  margin-top: 20px;
}

.details {
  width: 240px;
  float: right;

  margin-left: 40px;
  margin-top: 20px;
}

.product-price {
  float: left;
}

.product-shipping {
  float: right;
}

.product-text {
  clear: both;
}

.product-detail {
  margin-top: 0;
} */

/* FLEX */
.row {
  display: flex;

  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex: 1;
}

.price-shipping {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 20px;
}

.shoe-colors {
  display: flex;
}

.color-black {
  order: 0;
}

.color-blue {
  order: 1;
}

.color-red {
  order: 2;
}

.color-yellow {
  order: 3;
}

.color-green {
  order: 4;
}

.color-brown {
  order: 5;
}
